$slider-width  = 1250px;
$slider-height = 350px;

html, body {

}

.sse-slider
  display block
  margin 0 auto
  width $slider-width
  min-height $slider-height

.sse-slider--hidden
  display none

.sse-slider--indicator
  display block
  text-align center
  font-size 2em
  margin auto
  z-index 9998
  width 100%
  height $slider-height
  background #ddd

 .sse-slider ul
   list-style none
   margin 0 auto
   padding 0

