.sse-slider {
  display: block;
  margin: 0 auto;
  width: 1250px;
  min-height: 350px;
}
.sse-slider--hidden {
  display: none;
}
.sse-slider--indicator {
  display: block;
  text-align: center;
  font-size: 2em;
  margin: auto;
  z-index: 9998;
  width: 100%;
  height: 350px;
  background: #ddd;
}
.sse-slider ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
