$slider-width  = 1250px;
$slider-height = 350px;
$slider-bottom-height = 35px;

html, body {

}

.sse-slider
  display block
  margin 0 auto
  width $slider-width
  min-height $slider-height
  overflow hidden

.sse-slider--hidden
  display none

.sse-slider--indicator
  display block
  text-align center
  font-size 2em
  margin auto
  z-index 9997
  width 100%
  height $slider-height
  background #ddd

 .sse-slider ul
   list-style none
   margin 0 auto
   padding 0

 .sse-slider img
   display none

 .sse-slider .show
   display block !important

 .sse-slider--control-prev, .sse-slider--control-next
   display block
   position absolute
   top 8px
   height $slider-height

 .sse-slider--control-prev button,
 .sse-slider--control-next button
   width 85px
   height $slider-height
   border none
   color black
   outline 0
   font-size 2em
   line-height $slider-height
   text-align center
   background none
   cursor pointer
   opacity 0

   transition opacity linear 0.2s

 .sse-slider--control-prev button:hover,
 .sse-slider--control-next button:hover
   opacity 1

 .sse-slider--control-prev button
   z-index 9999
   margin-left 0

 .sse-slider--control-next button
   z-index 9998
   margin-left $slider-width - 85px
