.sse-slider {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 1250px;
  min-height: 350px;
  overflow: hidden;
}
.sse-slider--hidden {
  display: none;
}
.sse-slider--indicator {
  display: block;
  text-align: center;
  font-size: 2em;
  margin: auto;
  z-index: 9997;
  width: 100%;
  height: 350px;
  background: #ddd;
}
.sse-slider ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.sse-slider img {
  display: none;
}
.sse-slider .show {
  display: block !important;
}
.sse-slider--control-prev,
.sse-slider--control-next {
  display: inline-block;
  position: absolute;
  top: 0;
  height: 350px;
}
.sse-slider--control-prev button,
.sse-slider--control-next button {
  width: 85px;
  height: 350px;
  border: none;
  color: #000;
  outline: 0;
  font-size: 2em;
  line-height: 350px;
  text-align: center;
  background: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity linear 0.2s;
}
.sse-slider--control-prev button:hover,
.sse-slider--control-next button:hover {
  opacity: 1;
}
.sse-slider--control-prev {
  z-index: 9999;
  left: 0;
}
.sse-slider--control-next {
  z-index: 9998;
  right: 0;
}
.sse-slider--round-ctrl {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  margin: 0 auto;
  text-align: center;
}
.sse-slider--round-ctrl button {
  border: none;
  background: none;
  color: #fff;
  padding: 0 8px;
  cursor: pointer;
  outline: none;
}
